@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background: #F0F2F5;
}

nav ul li{
    list-style: none;
    @apply mx-3 font-semibold
}

.primary-text-color{
    color: #001E4F;
}

.pageHeading{
    font-size: 96px;
    letter-spacing: -3px;
    font-weight: 400;
    line-height: 96px;
}

li{
    @apply list-disc text-sm
}

.pagePointsSection{
    @apply text-white grid gap-3 grid-cols-2 mt-10
}
.pagePointBlock{
    @apply text-white grid gap-3 grid-cols-2 mt-10
}


.pagePointsSection u{
    @apply text-2xl font-light mt-7
}

.pagePointsSection div p{
    @apply mt-5 font-light
}

.pageImage{
    position: absolute;
    z-index: 0;
    width: 500px;
    margin: auto;
}
div{
    z-index: 1;
}
